xsd/karaf-property-instructions-model-1.0.0.xsd

<?xml version="1.0"?>
<!-- =================== DO NOT EDIT THIS FILE ====================         -->
<!-- Generated by Modello 1.8.3,                                            -->
<!-- any modifications will be overwritten.                                 -->
<!-- ==============================================================         -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://karaf.apache.org/tools/property-edits/1.0.0" targetNamespace="http://karaf.apache.org/tools/property-edits/1.0.0">
  <xs:element name="property-edits" type="KarafPropertyEdits">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">
                A collection instructions. Each instruction is either a &apos;put&apos; or an &apos;edit&apos;,
                and calls out a file, a property name, and a property value.
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="KarafPropertyEdits">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">
                A collection instructions. Each instruction is either a &apos;put&apos; or an &apos;edit&apos;,
                and calls out a file, a property name, and a property value.
            </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="edits">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">The list of edits to perform.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="edit" minOccurs="0" maxOccurs="unbounded" type="KarafPropertyEdit"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="KarafPropertyEdit">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">
                A single property edit.
            </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="operation" type="Operation">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">
                        The operation to perform: &apos;put&apos; or &apos;extend&apos;.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="file" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">
                        The pathname, relative to the the Karaf etc directory, of the file to manipulate.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="key" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">
                        The property key.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="value" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">
                        The property value.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Operation">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
        <xs:attribute name="prepend" type="xs:boolean" default="false">
          <xs:annotation>
            <xs:documentation source="version">1.0.0</xs:documentation>
            <xs:documentation source="description">for the &apos;extend&apos; operation, indicates that the value should be placed at the head of the list.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>